Code-P1/Solution.FrontEnd/.vs/
Code-P1/Solution.FrontEnd/Solution.UI/bin/
Code-P1/Solution.FrontEnd/Solution.UI/obj/
Code-P1/Solution/.vs/
Code-P1/Solution/Solution.API.W/bin/
Code-P1/Solution/Solution.API.W/obj/
Code-P1/Solution/Solution.API/bin/
Code-P1/Solution/Solution.API/obj/
Code-P1/Solution/Solution.BS/bin/
Code-P1/Solution/Solution.BS/obj/
Code-P1/Solution/Solution.DAL.EF/obj/
Code-P1/Solution/Solution.DAL.Repository/obj/
Code-P1/Solution/Solution.DAL.EF/bin/
Code-P1/Solution/Solution.DAL/bin/
Code-P1/Solution/Solution.DAL/obj/
Code-P1/Solution/Solution.DO/bin/
Code-P1/Solution/Solution.DO/obj/
